<div class="row">
    <div class="box">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <hr>
            <h2 class="intro-text text-center">Our current
                <strong>inventory</strong>
            </h2>
            <hr>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th data-field="id">Item</th>
                    <th data-field="name">Quantity</th>
                </tr>
                </thead>
                <%# The inventory attribute is passed in from index.html.erb using the render methos %>
                <% inventory.each do |inv| %>
                   <tr>
                       <td><%= inv.displayName %></td>
                       <td><%= inv.count %></td>
                   </tr>
                <% end %>
            </table>
            <div class="text-center">
                <%= link_to 'Restock Inventory', {controller: 'main', action: 'reStockInventory'}, :class => 'btn btn-large btn-primary' %>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
